.visible {
  height: 120px;
  width: 200px;
  margin: 5px;
  border-radius: 5px;
  background-color: #faf8ec;
  text-align: center;
  float: left;
  color: #216999;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 16px;
}

.hidden {
  visibility: hidden;
  height: 120px;
  width: 200px;
  margin: 5px;
  background-color: #ebf4fa;
  color: #ebf4fa;
  border: none;
  float: left;
}