
#main_content_home {
  background-image: url("../../images/haha.jpg");
  background-size: 960px 700px;
  width: 960px;
  height: 700px;
  margin: 30px auto 100px auto;
  padding: 40px;
  font-family: 'Inconsolata', monospace;
  background-color:#ffffff;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width:980px) {
  #main_content_home {
    max-width: 760px;
    height: 500px;
    background-size: 100% 500px;
    background-repeat: no-repeat;
  }

  hr {
    width:650px;
  }
}

@media screen and (max-width:768px) {
  #main_content_home {
    width: 600px;
    height: 400px;
    background-size: auto 400px;
    padding: 30px;
  }

  hr {
    width:530px;
  }
}

@media screen and (max-width:640px) {
  #main_content_home {
    width:450px;
    height:310px;
    background-size: auto 310px;
  }

  hr {
    width:400px;
  }
}