.copyright {
  width: 100%;
  height: 60px;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  color:  #216999;
  text-shadow:
  -.3px -.3px 0 #13415f,
   .3px -.3px 0 #13415f,
  -.3px .3px 0 #13415f,
   .3px .3px 0 #13415f;
}

footer {
  width: 100%;
  height: 60px;
  font-size: 12px;
  padding: 5px 0 10px 0;
  position: fixed;
  bottom: 0;
  left:0;
  background-color:#faf3d7; 
  text-align: center;
  border-top: 1px solid #31a4f0;
  z-index: 1
}

a:link,
a:visited {
  color:#3d4cef;
}

a:hover {
  font-weight: bold;
}

h6 {
  font-size: 14px;
}
